@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: midnightblue;
    background: paleturquoise;
}

a {
    color: slateblue;
    text-decoration: none;
    padding: 0 5px;
    border: 1px solid transparent;
}

a:hover {
    background-color: lightgrey;
    border: 1px solid black;
}

a:active {
    color: blue;
}

a:visited {
    color: black;
}

.container {
    max-width: 750px;
    margin: auto;
}

.info {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.avatar {
    margin: auto;
    margin-right: 0;
    width: 200px;
    border: 2px solid darkblue;
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgba(0, 0, 139, .5);
}

.info-text {  
    margin: auto;
    margin-left: 20px;
    text-align: center;
}

.info-text h1 {
    margin-top: auto;
    font-style: italic;
    line-height: 1.2;    
}

.info-text p {
    margin: 0;
    font-size: 1.2em;
}

.info-text h4 {
    font-size: 1.1em;
    margin-bottom: 0;
}

.card {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.hobby {
    background-color: rgb(96, 231, 224);
}

.work {
    background-color: rgb(100, 198, 231);
}

.form {
    background-color: rgb(169, 156, 249);
}

.btn {
    background: slateblue;
    padding: 5px 15px;
    color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

.hobby ol {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 20px;  
}

.hobby li {
    opacity: 0.85;
    padding: 2px 0;
}

.table {
    width: 100%;
    opacity: 0.85;   
}

.table th {
    background-color: rgb(14, 183, 240);
    padding: 5px 5px;
    border: 1px solid black;
}

.table td {
    background-color: rgb(129, 210, 237);
    padding: 2px 5px;
    border: 1px solid black;
    vertical-align: top;
}

.table td:nth-child(3) {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    margin-right: 20px;
    width: 50%;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    line-height: 1.2;
    opacity: 0.85;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    outline: none;
    font-family: inherit;
    font-size: 1em;
    color: black;
}

.form-group input {
    border: none;
    border-bottom: 1px solid black;
    padding: 0;
}

.form-group textarea {
    height: 70px;
    border: 1px solid black;
    padding: 2px 5px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}


@media (max-width: 600px) {
    .info {
        display: block;
        text-align: center;
    }

    .info-text h1 {
        margin-top: 20px;
    }

    .info-text {  
        margin-left: 0;
        margin-bottom: 20px;
    }

    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-bottom: 10px;
    }
}
